{{>layouts/header}}
<div class="jumbotron container-fluid">
  <h1 class="display-4">Article 목록</h1>
  <p class="lead">articles/index.mustache</p>
  <hr class="my-4">
  <p>안녕하세요 반갑습니다.</p>

</div>
{{>layouts/footer}}