{{>layouts/header}}
<div class="jumbotron container-fluid">
  <h1 class="display-4">Privacy</h1>
  <p class="lead">articles/privacy.mustache</p>
  <hr class="my-4">
  <p>privacy.mustache</p>

</div>
{{>layouts/footer}}
