{{>layouts/header}}
<div class="jumbotron container-fluid">
  <h1 class="display-4">Terms</h1>
  <p class="lead">articles/terms.mustache</p>
  <hr class="my-4">
  <p>terms.mustache</p>

</div>

{{>layouts/footer}}